[submodule "ApkShellext2/SharpZipLib"]
	path = ApkShellext2/SharpZipLib
	url = https://github.com/kkguo/SharpZipLib.git
[submodule "ApkShellext2/SharpShell"]
	path = ApkShellext2/SharpShell
	url = https://github.com/kkguo/sharpshell.git
[submodule "ApkShellext2/PlistCS"]
	path = ApkShellext2/PlistCS
	url = https://github.com/kkguo/PlistCS.git
[submodule "ApkShellext2/PNGDecrush"]
	path = ApkShellext2/PNGDecrush
	url = https://github.com/kkguo/PNGDecrush.git
[submodule "ApkShellext2/Ionic.Zlib"]
	path = ApkShellext2/Ionic.Zlib
	url = https://github.com/kkguo/Ionic.Zlib.git
[submodule "QRCoder"]
	path = QRCoder
	url = https://github.com/kkguo/QRCoder.git
[submodule "ApkShellext2/QRCoder"]
	path = ApkShellext2/QRCoder
	url = https://github.com/codebude/QRCoder.git
[submodule "ApkShellext2/SVG"]
	path = ApkShellext2/SVG
	url = https://github.com/vvvv/SVG.git
