<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ApkShellext2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ApkShellext2.Properties.Settings>
            <setting name="ShowAppStoreWhenMultiSelected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowGooglePlay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowAmazonStore" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowApkMirror" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowAppleStore" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowMSStore" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowOverLayIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowIpaIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowAppxIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowMenuIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RenamePattern" serializeAs="String">
                <value />
            </setting>
            <setting name="ToolTipPattern" serializeAs="String">
                <value />
            </setting>
            <setting name="Language" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ShowApkIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastPanel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastCheckUpdateTime" serializeAs="String">
                <value>2014-12-31</value>
            </setting>
            <setting name="CheckingUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LatestVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="ReplaceSpace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowNewVersion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StretchThumbnail" serializeAs="String">
                <value>True</value>
            </setting>
        </ApkShellext2.Properties.Settings>
    </userSettings>
</configuration>